@import url(https://fonts.googleapis.com/css?family=Bevan);

#testing {
  background-color: red;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  color: #0a2929;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 50px; }

h1, h2 {
  font-family: "Bevan", cursive; }

h3 {
  font-weight: 700;
  margin-top: 0px; }

a {
  color: #33cccc; }
  a:hover, a:focus {
    color: #33cccc;
    text-decoration: none; }

.logo {
  font-family: "Bevan", cursive;
  color: #0a2929;
  transition: color .3s;
  font-size: 60px;
  cursor: pointer; }
  .logo:hover, .logo:focus {
    color: #33cccc;
    text-decoration: none; }

.navbar-default {
  background-color: #33cccc;
  border: 0;
  border-radius: 0;
  padding: 10px 0px;
  font-weight: 700;
  color: white; }

.post-btn {
  background-color: white;
  color: #0a2929;
  transition: opacity .3s; }
  .post-btn:hover {
    background-color: white !important;
    opacity: .6; }

.navbar-default .navbar-nav > li > a {
  color: #0a2929;
  transition: opacity .3s; }
  .navbar-default .navbar-nav > li > a:hover {
    opacity: .6; }

.mock {
  background-color: #33cccc;
  min-height: 300px;
  margin-bottom: 20px;
  transition: opacity .3s;
  padding: 20px; }

.mock-small {
  background-color: #33cccc;
  height: 150px;
  margin-bottom: 20px;
  transition: opacity .3s;
  padding: 20px; }

.btn {
  font-weight: 700;
  border-radius: 0px; }

.btn-lg {
  width: 100%;
  font-size: 30px;
  border: 1px solid #33cccc;
  transition: background-color .2s; }
  .btn-lg:hover {
    border: 1px solid #33cccc;
    background-color: #adebeb; }

.alert-item {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 0px;
  border: 1px solid #33cccc;
  transition: background-color .2s; }

.form-group-lg .form-control {
  border-radius: 0px; }

.icon {
  width: 32px;
  height: 32px;
  fill: #ccc; }

.icon.is-x2 {
  width: 64px;
  height: 64px; }

.icon.is-outlined {
  stroke: #FE4365;
  stroke-width: 2px;
  fill: rgba(255, 255, 255, 0.6); }

.icon.is-liked {
  stroke: #FE4365;
  stroke-width: 2px;
  fill: #FE4365; }

.icon.is-hoverable:hover {
  fill: #FE4365;
  cursor: pointer; }

.icon.is-activeable:active {
  transform: scale(1.25);
  cursor: pointer; }

.icon.is-transit {
  -webkit-transition: all .35s ease-out;
  -moz-transition: all .35s ease-out;
  -ms-transition: all .35s ease-out;
  -o-transition: all .35s ease-out;
  transition: all .35s ease-out; }

#container {
  width: 100%;
  margin: 0 auto; }

.grid-sizer, .masonryImage {
  width: 32.5%; }
  .grid-sizer img, .masonryImage img {
    width: 100%;
    opacity: 1; }

.masonryImage {
  margin-bottom: 10px;
  z-index: 1; }

.opaque:hover {
  opacity: 1; }

.item-details {
  padding: 10px 20px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s;
  width: 100%;
  text-shadow: 1px 1px 2px black; }
  .item-details h3 {
    font-family: "Bevan", cursive;
    font-weight: normal;
    margin-top: 0px;
    z-index: 4;
    color: white; }
  .item-details p {
    color: white; }

.show-item:hover > .item-details {
  visibility: visible;
  opacity: 1;
  top: 10%;
  z-index: 5; }

.like-details {
  position: absolute;
  right: 10px;
  bottom: -25px; }
  .like-details .likes {
    color: white; }

.details-image {
  width: 100%; }

.likes {
  font-weight: 700;
  color: #FE4365; }

.plus {
  opacity: .7;
  position: absolute;
  padding: 10px;
  font-size: 40px;
  top: 0px;
  left: 20px;
  color: white;
  text-shadow: 1px 1px 2px black; }

.profile-nav {
  font-size: 28px;
  font-weight: 700; }

.bv-form .help-block {
  margin-bottom: 0; }

.bv-form .tooltip-inner {
  text-align: left; }

.nav-tabs li.bv-tab-success > a {
  color: #3c763d; }

.nav-tabs li.bv-tab-error > a {
  color: #a94442; }

.bv-form .bv-icon-no-label {
  top: 0; }

.bv-form .bv-icon-input-group {
  top: 0;
  z-index: 100; }

#map {
  height: 150px; }

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px; }

#pac-input:focus {
  border-color: #4d90fe; }

.pac-container {
  font-family: Roboto; }

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px; }

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }

.nopadding {
  padding: 0px !important;
  margin-bottom: 5px; }

@media (max-width: 767px) {
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white; }

  .navbar-toggle .icon-bar {
    width: 30px;
    height: 5px;
    border-radius: 0px; }

  .navbar-default .navbar-toggle {
    border: 0; }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0; }

  .navbar-nav {
    float: right;
    text-align: right; }

  .post-btn {
    background-color: transparent; }
    .post-btn:hover {
      background-color: transparent !important; }
    .post-btn:focus {
      background-color: transparent !important; } }
@media (max-width: 990px) {
  .grid-sizer, .masonryImage {
    width: 49.3%; } }
@media (max-width: 665px) {
  .grid-sizer, .masonryImage {
    width: 100%; } }
@media (max-width: 550px) {
  .logo {
    font-size: 50px; } }
@media (max-width: 550px) {
  .logo {
    font-size: 40px; } }

/*# sourceMappingURL=style.css.map */
