<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/magnific.css">
  <link rel="stylesheet" href="/css/bootstrapValidator.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

  <title>thriftspotting</title>

  </head>
  <body>
   <% if logged_in? %>
    <span data-user-id="<%= logged_in_user.id %>" id="user-id"></span>
  <% else %>
    <span data-user-id="" id="user-id"></span>
  <% end %>



   <svg height="0" width="0" style="position:absolute;margin-left: -100%;">
    <path id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454 C30,20.335,16,28.261,16,28.261z"/>
  </svg>

  <%= erb :_nav_bar %>


        <div class="container">


          <div class="row">
            <div class="col-md-6">
              <a href="<%= uri('/') %>" class="logo"><span class="glyphicon glyphicon-search"></span> thriftspotting</a>
              <p class="text-center">One person's pass is another person's treasure</p>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
            <% if logged_in? == false %>
                <a href="<%= uri('/users/signup') %>" type="button" class="btn btn-default btn-lg">SIGN UP NOW</a>
            <% end %>
            </div>


          </div>

          <hr>
              <% if flash.message %>
                <div class="alert alert-item fade in">
                <button class="close" data-dismiss="alert">×</button>
                  Operation successful!
                </div>
              <% end %>

          <%= yield %>

          <hr>

          <div class="row">
            <p class="text-center">&copy; <%= Date.today.year %>. Ksenia Gueletina and Kristin Cheverie.</p>
          </div>

        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
        <script src="/javascript/magnific.min.js"></script>
        <script src="/javascript/masonry.pkgd.min.js"></script>
        <script src="/javascript/bootstrapValidator.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
        <script src="/javascript/application.js"></script>
  <script>
  $(document).ready(function(){

      $("#showgallery").click(function(){
          $("#galleryview").show();
          $("#mapview").hide();
      });
      $("#showmap").click(function(){
          $("#galleryview").hide();
          $("#mapview").show();

      });
  });
  </script>
  <script type="text/javascript" src="jquery.ui.widget"></script>
  <script type="text/javascript" src="jquery.iframe-transport"></script>
  <script type="text/javascript" src="jquery.fileupload"></script>
  <script type="text/javascript" src="jquery.cloudinary"></script>
  </body>
</html>
